<div class="grid bg-Grey-950 h-screen place-items-center font-overpass">

    <div class="w-[411px] h-[413px] border bg-Grey-900 rounded-3xl p-7">
 
        @if(ativo){

        <div>

            <!-- Rating state start -->
            <div class="w-12 h-12 bg-Grey-100 mb-9 rounded-full  grid place-items-center">

                <img src="/images/icon-star.svg" alt="" class="w-5">
            </div>

            <h1 class="text-3xl text-White">
                How did we do?
            </h1>

            <div class="text-Grey-500 mt-4">

                Please let us know how we did with your support request. All feedback is appreciated
                to help us improve our offering!
            </div>

            <div class="flex gap-6 my-8 text-White cursor-pointer">

                <div *ngFor="let item of numeros" [ngClass]="{'bg-White  text-Grey-950': item === numeroSelecionado }"
                    class="hover:bg-Orange
                    
                    hover:text-Grey-950
                    transition
                    w-12  h-12
                    grid place-items-center
                    bg-Grey-100 rounded-full" (click)="pegar(item)">{{item}}</div>


            </div>

            <div class="flex"
            (click)="trocar()">

                <button
                    
                    class="cursor-pointer tracking-tighter bg-Orange  hover:bg-White basis-3/3 rounded-full h-11 text-Grey-950 font-bold uppercase">
                    Submit
                </button>
            </div>

        </div>
        }
        <!-- Rating state end -->
        @else {
        <!-- Thank you state start -->
        <div class="grid place-items-center">
            <div class="mt-6">
                <img src="/images/illustration-thank-you.svg" alt="">
            </div>
            <div class="text-Orange bg-Grey-100 rounded-full px-5 py-1 my-8">
                <p> You selected {{numeroSelecionado}} out of 5</p>
            </div>
            <div>
                <p class="text-White text-3xl font-bold">
                    Thank you!
                </p>
            </div>
            <div>
                <p class="text-Grey-500 text-center mt-3">
                    We appreciate you taking the time to give a rating. If you ever need more support,
                    don’t hesitate to get in touch!
                </p>
            </div>
        </div>
        <!-- Thank you state end -->
        }

    </div>